//$primary: red;

@import "./bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap');

*{
  box-sizing: border-box;
}

body{
background-color: #2b2b2b;
font-family: Montserrat;
}

#toolbar{
  width: 100vw;
  background-color: #2b2b2b;
  border-bottom: .25px solid rgba(255, 255, 255, 0.2);
  color: #ADAAC0;
  padding-top: 10px;
  font-size: small;

  ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
  }
  input{
    background-color: #2b2b2b;
    color: #ADAAC0;
    border: 1px solid #ADAAC0;
    padding: 5px;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  a{
    text-decoration: none;
    color:white;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown p:hover{
    color:white;
  }
}

.svg-wrap{
  width: 90%;
  max-width: 860px !important;
  height: 400px;
}

.svg-wrap circle.human{
  fill: #ec2227;
}

.svg-wrap path.human{
  stroke: #ec2227;
  stroke-opacity: .6;
}

.svg-wrap circle.machine{
  fill: #ADAAC0;
}

.svg-wrap path.machine{
  stroke: #ADAAC0;
  stroke-opacity: .6;
}

.jumbotron {
  // should be relative path of the entry scss file
  // background-image: url("../../vendors/images/sample.jpg");
  background-size: cover;
}

.folder{
  padding: 10px;
}

path.hover{
  stroke-opacity: 1 !important;
  stroke-width: 2px !important;
}
path.non-hover{
  stroke-opacity: .2 !important;
}


