//$primary: red;

@import "./bootstrap.scss";

body{
background-color: #2b2b2b;
}

#toolbar{

}

.svg-wrap{
  width: 90%;
}

.svg-wrap circle.human{
  fill: red;
}

.svg-wrap circle.machine{
  fill: #AEB6BF;
}

.jumbotron {
  // should be relative path of the entry scss file
  // background-image: url("../../vendors/images/sample.jpg");
  background-size: cover;
}

.folder{
  padding: 10px;
}


