<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="https://kit.fontawesome.com/379c651fab.js" crossorigin="anonymous"></script>
  <title>Index</title>

  {{ stylesheet_pack('app') }}
  

</head>
<body>
<div id="toolbar">
  <ul><li><a href="https://github.com/jrogerthat/snek/issues">file a bug <i class="fas fa-bug"></i></a></li>
    <li><input type="text" placeholder="Search for artifact.."></li>
    <li>
      <div class="dropdown">
      <span>Mouse over me </span><i class="fas fa-caret-down"></i>
      <div class="dropdown-content">
        <p>Human vs Machine</p>
        <p>Artifact Dependencies</p>
      </div>
    </div>
  </li>
  </ul>
</div>
<div class="jumbotron py-5">
  <div id="container">
    <div id="wrapper" class="d-flex justify-content-center"></div>
  </div>
</div>

{{ javascript_pack('app', attrs='charset="UTF-8"') }}

</body>
</html>
